* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: "Roboto";
	font-size: 16px;
}


main {
    margin: auto;
    z-index: 1
}

header {
    position: absolute;
    width: 100%;
    background: url('../images/fondo.jpg') center no-repeat;
    background-size: cover;
    height: 600px;
}

header div {
    max-width: 980px;
    margin: auto;
}

.contenedor :first-child{
    text-decoration: none;
}

.contenedor :first-child h1{
    color: #000;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    height: 50px;    
    z-index: 2;
}

.sticky-nav {
  background: rgba(0,0,0,0.8)
}

.white-text {
    color: #fff;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 980px;
    margin: auto;
}

h1 span{
    color: orangered;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li{
    padding: 0 10px;
    height: 100%;
}

nav ul li a:hover{
    color: orangered;
}

nav ul li:last-child a{
    display: flex;
    color: orangered;
}

nav ul li a{
    text-decoration: none;
    color: #000;
}

section {
    margin: auto;
    max-width: 980px;
}

#fotografia div:nth-child(2){
    margin: 150px 0;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: min-content;
    grid-gap: 5px;
}

#fotografia a:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: -1;
}
#fotografia div img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 100%;
}

#fotografia img:hover{
    filter: none;
    transition: all .5s;
}

#fotografia h2 {
    display: none;
}

#fotografia div:nth-child(3){
    margin-bottom: 50px;
    filter: none;
    -webkit-box-shadow: 4px 7px 20px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 20px -9px rgba(0,0,0,0.75);
    box-shadow: 4px 7px 20px -9px rgba(0,0,0,0.75);       
    border-left: 5px solid orangered;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

#fotografia div:nth-child(3) img{ 
    filter: none;
}

#fotografia div:nth-child(3) div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fotografia div:nth-child(3) div h3 {
    font-size: 32pt;
}

#fotografia div:nth-child(3) div p {
    color: gray;
    font-size: 25pt;
    text-align: center;
}
  
section:nth-child(4) {
    margin: 300px 0;
    width: 100vw;
}

section:nth-child(4) img{
    width: 100vw;
    height: 500px;
}

#fotografia {
    margin-bottom: 300px;
}

#proyectos{
    margin-top:300px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#proyectos img {
    width: CALC(100%/3);
}

#fortalezas {
    margin: 150px auto;
}

#fortalezas ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#fortalezas ul img{
    width: 120px;
}
#fortalezas ul li {
    text-align: center;
    margin: 30px 0;
}

#fortalezas ul li:nth-child(1) {
    width: calc(100%/3);
}

#fortalezas ul li:nth-child(2) {
    width: calc(100%/3);
}

#fortalezas ul li:nth-child(3) {
    width: calc(100%/3);
}

#fortalezas ul li:nth-child(4) {
    width: 35%;
}
#fortalezas ul li:nth-child(5) {
    width: 35%;
}

#contacto {
    display: grid;
    grid-template-columns: 1fr;
}

#contacto h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
    border: 2px solid orangered;
    border-radius: 10px;
    padding: 30px;
    width: 60%;
    margin: auto;
}

form input ,textarea{
    border: 2px solid orangered;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
}

form input:last-child{
    width: 20%;
    align-self: flex-end;
    background: #fff;
    margin-bottom: 0;
}

#contacto ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 30px 0;
    width: 60%;
    margin: auto;
}

#contacto ul li {
    padding: 0 10px;
}

#contacto ul li a img{
    width: 50px;
}

footer {
    background: #000;
    color: #fff;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span {
    color: orangered;
}


